<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LINQToSQL.Properties.Settings.Service" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Turmas;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="LINQToSQL.Properties.Settings.File" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\Escrita\Livros\CSharp\code\code\code\LINQToSQL\LINQToSQL\bin\Debug\Turmas.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="LINQToSQL.Properties.Settings.File2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=Turmas.mdf;Integrated Security=True;User Instance=True"/>
    <add name="LINQToSQL.Properties.Settings.File3" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Turmas2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="LINQToSQL.Properties.Settings.TurmasConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=Turmas;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
